.sf-dropdownbutton {
    display: inline-block;
    position: relative;
}

.sf-dropdownbutton__indicator {
    display: inline-flex;
    margin-inline-start: 0.375rem;
}

.sf-dropdownbutton__overlay {
    inset: 0;
    position: fixed;
    z-index: 49;
}

.sf-dropdownbutton [role="menu"] {
    inset-inline-start: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 50;
}

.sf-dropdownbutton--align-right [role="menu"] {
    inset-inline-end: 0;
    inset-inline-start: auto;
}

.sf-dropdownbutton [role="menuitem"] {
    min-height: 1.5rem;
    min-width: 1.5rem;
    width: 100%;
}
